* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 95vh;
    width: 100%;
    display: flex;    
    justify-content: space-around;    
    margin-bottom: 30px;    
    margin: 0 auto;
    background-color: lightgreen;
    
}

h1 {
  margin-bottom: 30px;
}

.content {
  margin: 0 auto;
  width: 40%;
  height: 50vh;
  padding: 20px;
  margin: 30px;
  
}

.messages {
  margin: 0 auto;
  width: 40%;
  height: 50vh;
  padding: 20px;
  margin: 30px;
}

.header {
  background-color: black;
  color: white;
  
}

table {
  font-family: arial, sans-serif;
  font-size: 20px;
  border-collapse: collapse;
  width: 75%;
  
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


p {
  font-size: 18pt;
}

.banner {
  display: flex;
  justify-content: space-around;
  padding: 30px;  
  height: 100px;
  background-color: skyblue;
  
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .links {
    display: flex;
    font-weight: bold;
    align-items: flex-end;
    gap: 20px;
  }

  .center {
    text-align: center;
    font-weight: bold;
  }

